<a class="btn btn-primary position-fixed" routerLink="/admin-panel">Volver</a>
<section class="w-100 h-100 admin-panel-section d-flex flex-column align-items-center justify-content-around gap-5">
    <h2 class="h2 fw-bold text-center">¡Bienvenido {{nombre}}!</h2>
    
    <button class="btn btn-primary" (click)="openModal(template)">Open Modal</button>
    
    <ng-template #template>
        <div class="modal-header d-flex justify-content-between align-items-center">

            <!-- Modal Title -->
            <h4 class="modal-title pull-left">Modal</h4>

            <!-- Close Button -->
            <button type="button" 
                    class="btn btn-close" 
                    (click)="modalRef.hide()">
            </button>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">
            This is a modal.
        </div>
    </ng-template>
</section>

