<nav class="navbar navbar-expand-lg navbar-light bg-light position-sticky top-0">
  <a class="navbar-brand" href="#">
    <img src="assets/icono.png" width="30" height="30" class="d-inline-block align-top img-fluid" alt="">
    <span class="text-uppercase h3 fw-bold fst-italic">Cactus<span class="text-primary">Panda</span></span>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!--Sino ha iniciado sesion muestro los elementos de la landing page-->
    <ul *ngIf="!haIniciadoSesion" class="navbar-nav mr-auto"> 
      <li class="nav-item">
        <a class="nav-link" routerLink="/" fragment="inicio">Inicio </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" fragment="explicacion">¿Qué ofrecemos?</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" fragment="video">Video</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" fragment="faq">Preguntas frecuentes</a>
      </li>
    </ul>

    <!--Si ha iniciado sesion muestro los elementos en forma de dropdown-->
    <div *ngIf="haIniciadoSesion" class="navbar-nav mr-auto">
      <div ngbDropdown class="d-inline-block">
        <button class="btn text-black border-1 text-primary" id="dropdownBasic1" ngbDropdownToggle>
          Página principal
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a class="dropdown-item" routerLink="/" fragment="inicio">Inicio</a>
          <a class="dropdown-item" routerLink="/" fragment="explicacion">¿Qué ofrecemos?</a>
          <a class="dropdown-item" routerLink="/" fragment="video">Video</a>
          <a class="dropdown-item" routerLink="/" fragment="faq">Preguntas frecuentes</a>
        </div>
      </div>
      <li class="nav-item">
        <a class="nav-link" routerLink="/plantilla" fragment="inicio">Tu plantilla</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ranking" fragment="inicio">Ranking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/mercado" fragment="inicio">Mercado</a>
      </li>
    </div>
  </div>

  <div *ngIf="!haIniciadoSesion">
    <a class="btn btn-primary" routerLink="/login">Iniciar sesion</a>
    <a class="btn btn-link" routerLink="/register">Registrarse</a>

  </div>
  <div *ngIf="haIniciadoSesion">
    <div ngbDropdown class="d-inline-block h-100">
			<button type="button" class="btn text-black h1 icon-200 h-100" id="dropdownBasic1" ngbDropdownToggle>
				<i class="bi bi-person-circle"></i>
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-menu-end">
			
          <button *ngIf="esAdministrador" ngbDropdownItem class="text-left" routerLink="/admin-panel">
            <i class="bi bi-sliders"></i> Admin Panel
          </button>
        <button ngbDropdownItem class="text-left" routerLink="/editar-usuario"><i class="bi bi-pencil"></i> Editar perfil</button>
				<button ngbDropdownItem class="text-left" routerLink="/contacto"><i class="bi bi-envelope-paper"></i> Contacto</button>
        <hr/>
				<button ngbDropdownItem class="btn text-danger text-center" (click)="cerrarSesion()">Cerrar Sesion <i class="bi bi-box-arrow-right"></i></button>
			</div>
		</div>
  </div>
  

</nav>
