

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

footer p {
  margin: 0;
  text-align: center;
}

@media (max-width: 768px) {
  footer p {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .footer-col {
    width: 50%; /* O ajusta según necesites */
  }
}
