<footer class="footer bg-dark">
  <div class="container">
    <div class="row">
      <div class="footer-col col-lg-4 col-md-6 col-sm-12">
        <h4 class="h4">Información</h4>
        <ul>
          <li><a href="#" class="text-white">Universidad Europea de Madrid</a></li>
          <li><a href="#" class="text-white">Correo electrónico: CactusPanda&#64;gmail.com</a></li>
          <li><a href="#" class="text-white">Política de privacidad</a></li>
        </ul>
      </div>
      <div class="footer-col col-md-4">
        <h4 class="h4">Contáctanos</h4>
        <div class="relleno-informacion w-100">
          <form action="" class="w-100" method="post" enctype="text/plain" class="" onsubmit="return validarEmail()">
            Título:<br>
            <input id="texto-titulo-email" type="text" name="titulo-email" class="w-100"><br>
            E-mail:<br>
            <input id="texto-nombre-email" type="text" name="email" class="w-100"><br>
            Comment:<br>
            <textarea id="contenido-mensaje" name="mensaje" class="w-100"></textarea>
            <div class="contenedor-botones-email d-flex justify-content-around gap-2" >
              <input class="btn btn-primary px-4 py-2" type="submit" value="Enviar">
              <input class="btn btn-primary px-4 py-2" type="reset" value="Eliminar">
            </div>
          </form>
        </div>
      </div>
      <div class="footer-col col-md-4">
        <h4 class="h4">Conócenos en persona</h4>
        <iframe class="goole-maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6889.754931564399!2d-3.9162145900040786!3d40.3726724559064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd419031a94d45e5%3A0x375a8b6ca7a1dc4c!2sUniversidad%20Europea%20de%20Madrid!5e0!3m2!1ses!2ses!4v1672440888159!5m2!1ses!2ses"
                width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</footer>
