.cursor-pointer{
    cursor: pointer;
}

.mr-3{
    margin-right: 10px;
}

input[type="checkbox"] {
    transform: scale(1.5); /* Ajusta este valor según el tamaño que desees */
    margin: 0.5rem; /* Añadir un poco de margen para separación */
}


.pt-background{
    background-color: #a78300;
}

.df-background{
    background-color: #0070e6;
}

.mc-background{
   background-color: #2ba765;
}

.dl-background{
    background-color: #cd261e;
}