<a class="btn btn-primary position-fixed" routerLink="/admin-panel">Volver</a>
<section class="w-100 h-100 admin-panel-section d-flex flex-column align-items-center justify-content-around gap-5">
    <h2 class="h2 fw-bold text-center">¡Bienvenido {{nombre}}!</h2>
    <div class="w-100 h-100">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"><i class="bi bi-person"></i> Nombre de usuario</th>
                        <th scope="col"><i class="bi bi-person"></i> Nombre</th>
                        <th scope="col"><i class="bi bi-person"></i> Apellido</th>
                        <th scope="col"><i class="bi bi-bug"></i> Problema</th>
                        <th scope="col"><i class="bi bi-calendar"></i> Fecha del mensaje</th>
                        <th scope="col"><i class="bi bi-mailbox"></i> Mensaje</th>
                    </tr>
                </thead>
                <tbody>
                    @for (usuario of soporteTecnico; track usuario.id) {
                        <tr>
                            <td scope="row">{{ usuario.nombre_de_usuario }}</td>
                            <td scope="row">{{ usuario.nombre }}</td>
                            <td scope="row">{{ usuario.apellido }}</td>
                            <td scope="row">{{ usuario.problema}}</td>
                            <td scope="row">{{ usuario.fecha_mensaje }}</td>
                            <td scope="row"><button class="btn btn-secondary" (click)="openModal(template, usuario)"><i class="bi bi-mailbox-flag"></i> Abrir mensaje</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
        <div class="d-flex justify-content-between p-2">
            <ngb-pagination
                [collectionSize]="collectionSize"
                [(page)]="page"
                [pageSize]="pageSize"
                (pageChange)="refreshSoporteTecnico()"
            >
            </ngb-pagination>
        
            <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshSoporteTecnico()">
                <option [ngValue]="5">5 personas por página</option>
                <option [ngValue]="10">10 personas por página</option>
                <option [ngValue]="15">15 personas por página</option>
            </select>
        </div>
    </div>

    <ng-template #template let-modal>
        <div class="modal-header d-flex justify-content-between align-items-center">
            <!-- Modal Title -->
            <h4 class="modal-title text-primary h3">{{ selectedUsuario.nombre_de_usuario }}: {{selectedUsuario.problema}}</h4>
            <!-- Close Button -->
            <button type="button" class="btn btn-close" (click)="modalRef.hide()">
            </button>
        </div>        
        <!-- Modal Body -->
        <div class="modal-body">
            <p><span class="fw-bold text-primary"><i class="bi bi-person"></i> Nombre:</span> {{ selectedUsuario.nombre }}</p>
            <p><span class="fw-bold text-primary"><i class="bi bi-person"></i> Apellido:</span> {{ selectedUsuario.apellido }}</p>
            <p><span class="fw-bold text-primary"><i class="bi bi-calendar"></i> Fecha de creación:</span> {{ selectedUsuario.fecha_mensaje }}</p>
            <p><span class="fw-bold text-primary"><i class="bi bi-card-text"></i> Mensaje:</span> {{ selectedUsuario.descripcion }}</p>
        </div>
    </ng-template>
</section>
