<h2 class="text-center">Tu plantilla</h2>
<p class="text-center mb-5">Para editar la plantilla, pulse <a class="link-primary btn-link" routerLink="editar-plantilla">aquí</a></p>
<div *ngIf="loading" class="d-flex justify-content-center align-items-center w-100 h-100">
  <p><i class="bi bi-clock-fill"></i> Cargando datos...</p>
</div>
<div *ngIf="!loading" class="w-100 d-flex justify-content-center main-div gap-5 mb-4">
  <div class="campo-futbol position-relative mx-4">
    <img class="rounded-5 d-block" src="../../assets/campo-futbol.jpg" alt="" />
    <ng-container *ngFor="let jugador of jugadores; let i = index">
      <div
        class="position-absolute div-jugador d-flex flex-column"
        [attr.id]="'jugador-' + (i+1)"
      >
        <img
          [src]="
            'https://cdn.gomister.com/file/cdn-common/players/' +
            jugador.id_web +
            '.png?version=20231218000902'
          "
          alt=""
          height="50"
          class="h-100 w-100"
        />
        <p class="text-center text-white ">{{ jugador.nombre_del_jugador }}</p>
      </div>
    </ng-container>
  </div>
  <div
    class="d-flex flex-column justify-content-center align-items-center gap-3 h-100"
  >
    <div
      *ngFor="let jugador of jugadores"
      class="d-flex justify-content-between align-items-center h-100 bg-white-4 tarjeta-jugador"
    >
      <div
        class="d-flex justify-content-between p-2 shadow w-100 h-100 rounded-4"
      >
        <div class="d-flex">
          <img
            [src]="
              'https://cdn.gomister.com/file/cdn-common/players/' +
              jugador.id_web +
              '.png'
            "
            height="100"
            alt=""
          />
          <div>
            <p class="h5">
              {{ jugador.nombre_del_jugador }}
              <span class="rounded-3 p-1 text-white" [class]="getPosicionClass(jugador.posicion)">{{
                jugador.posicion
              }}</span>
            </p>
            <p class="h6">
              <i class="bi bi-coin"></i>
              <span [ngClass]="getPrecioClass(jugador.prediPrecio, jugador.ultimoPrediPrecio.precio)">
                {{ jugador.prediPrecio | currency : 'EUR' }}
              </span>
            </p>
            <p class="h6">
              <i class="bi bi-award"></i>
              <span [ngClass]="getPuntuacionClass(jugador.prediPuntuacion, jugador.ultimoPrediJugador?.puntos_jornada)">
                {{ jugador.prediPuntuacion }}
              </span>
            </p>
          </div>
          <a
            href="https://mister.mundodeportivo.com/team#players/{{
              jugador.id_web
            }}/"
            target="_blank"
            class="mx-3 h6 text-primary link h-100 ver-button align-center player-link"
            ><i class="bi bi-box-arrow-up-right"></i> Ver</a
          >
        </div>
        <div>
          <a
            href="https://mister.mundodeportivo.com/teams/{{
              jugador.equipo_id_web
            }}/"
            class="team-button blur-img"
            target="_blank"
          >
            <img
              height="90"
              src="https://cdn.gomister.com/file/cdn-common/teams/{{
                jugador.equipo_id_web
              }}.png"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
