<div class="d-flex justify-content-center align-items-center main-page">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template text-center">
                <h2 class="h3">
                    ¡Ha ocurrido un error!</h2>
                <h1 class="texto-404 text-primary">
                    404 Not Found</h1>
                <div class="error-details">
                    Lo sentimos, la página solicitada no se encuentra disponible.
                </div>
                <div class="error-actions d-flex justify-content-center align-items-center mt-3 gap-2">
                    <a class="btn btn-primary btn-lg" routerLink="/">
                        <i class="bi bi-house-fill"></i>
                        Ir a inicio </a>
                    <a class="btn btn-light btn-lg" routerLink="/contacto">
                        <i class="bi bi-envelope-paper"></i> Contactar al soporte </a>
                </div>
            </div>
        </div>
    </div>
</div>
