.formulario{
    input{
        height: 40px;
        font-size: 1.1rem;
    }

    margin: 0 auto;
}

.main-page{
    height: calc(100vh - 61.33px - 56.67px);
}

.input-group-text {
    cursor: pointer;
  }