<div class="main-page w-100 bg-white d-flex justify-content-center align-items-center flex-column">
    <div class="d-flex flex-column justify-content-center align-items-center mt-3">
      <h3>Bienvenido {{nombre}}</h3>
      <p>Por favor, completa el formulario para vincular tu cuenta de Mister a CactusPanda.</p>
    </div>
  
    <form action="" class="mt-5 px-4 formulario d-flex justify-content-center align-items-center flex-column w-25 gap-2 input-group bg-light p-5 rounded-4">
      <img src="../../assets/logo-mister.png" class="mb-4" height="75" alt="">
      <input type="email" placeholder="Correo electrónico" class="text-center rounded w-100 input-group-text bg-white">
      <div class="input-group mb-3">
        <input type="password" placeholder="Contraseña" class="form-control text-center" name="password" id="password">
        <span class="input-group-text" id="togglePassword" style="cursor: pointer;">
          <i class="bi bi-eye-slash"></i>
        </span>
      </div>
      <button class="btn btn-primary w-100 mt-3 w-100 rounded-3">Vincular cuenta</button>
      <a href="" class="mt-4 link-primary text-decoration-none">Crear cuenta de Mister <i class="bi-box-arrow-up-right"></i></a>
    </form>
  </div>
  