.gold {
  color: black !important;
  background-color: gold !important;
  padding: 10px !important;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 0 0 5px rgb(126, 126, 126);
}

.silver {
  color: black !important;
  background-color: silver !important;
  padding: 10px !important;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 0 0 5px rgb(126, 126, 126);
}

.bronze {
  color: black !important;
  font-weight: bold;
  background-color: #cd7f32 !important;
  padding: 10px !important;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 0 0 5px rgb(126, 126, 126);
}

.index-td {
  width: 20px;
}

.loading-dots::after {
  content: '...';
  display: inline-block;
  width: 0;
  overflow: hidden;
  vertical-align: bottom;
  animation: ellipsis steps(4, end) 2s infinite;
}

@keyframes ellipsis {
  0% {
    width: 0;
  }
  25% {
    width: 0.25em;
  }
  50% {
    width: 0.5em;
  }
  75% {
    width: 0.75em;
  }
  100% {
    width: 1em;
  }
}



