.gold{
  color: black !important;
  background-color: gold !important;
  padding: 10px !important;
  border-radius: 20px;
  font-weight: bold;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0 0 5px rgb(126, 126, 126);
}

.silver {
  color: black !important;
  background-color: silver !important;
  padding: 10px !important;
  border-radius: 20px;
  font-weight: bold;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0 0 5px rgb(126, 126, 126);
}

.bronze {
  color: black !important;
  font-weight: bold;
  background-color: #cd7f32 !important;
  padding: 10px !important;
  border-radius: 20px;
  font-weight: bold;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0 0 5px rgb(126, 126, 126);
}

.index-td{
  width: 20px;
}
