
$custom-green: #d5ddd8;
$custom-black: #333; 

.container-fluid {
  background-color: $custom-green;
  color: $custom-black;

  .table {
    thead {
      th {
        background-color: #222; 
        color: #fff;
      }
    }

    tbody {
      tr:nth-child(odd) {
        background-color: #333; 
      }
      tr:nth-child(even) {
        background-color: #444; 
      }
      td, th {
        border-color: #555; 
      }
    }
  }

  .btn-light {
    color: $custom-black;
    &:hover {
      background-color: #df7272; 
      color: $custom-black; 
    }
  }
}
