<div class="bg-light p-5">
    <h1 class="text-center mb-3 text-dark h1 fw-semibold">Ranking jugadores</h1>
    <div class="d-flex justify-content-center align-items-center">
      <p class="w-50 text-center">Bienvenidos al ranking de los 50 mejores jugadores de la <span class="fw-bold ">Jornada {{players[1].jornada}}</span>. Aquí encontrarás a los jugadores más destacados, con sus puntuaciones y contribuciones en el campo. ¡Descubre quiénes brillaron esta jornada!</p>
    </div>
   
    <table class="table table-light table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Nombre del jugador</th>
          <th scope="col">Puntos de la jornada</th>
          <th scope="col">Visitar</th>
        </tr>
      </thead>
      <tbody>
        <tr class="" *ngFor="let player of players; let i = index">
          <td class="index-td">
            <span class="d-flex justify-content-center align-items-center" [ngClass]="{'gold': i === 0, 'silver': i === 1, 'bronze': i === 2}">
              {{i + 1}}
            </span>
          </td>
          <td>
            <img src="https://cdn.gomister.com/file/cdn-common/players/{{player.id_jugador}}.png?version=20231222225612" height="40" alt="">
            {{ player.nombre_del_jugador }}
          </td>
          <td>{{ player.puntos_jornada }}</td>
          <td><a href="https://mister.mundodeportivo.com/feed#players/{{player.id_jugador}}/" class="btn btn-primary"><i class="bi bi-right"></i> Ver jugador</a></td>
        </tr>
      </tbody>      
    </table>
  </div>
  