<section class="w-100 admin-panel-section d-flex flex-column align-items-center justify-content-around">
    <h2 class="h2 fw-bold text-center">¡Bienvenido {{nombre}}!</h2>
    <div class="d-flex flex-column justify-content-center align-items-center admin-cards w-75 gap-5 flex-wrap">
        <div class="d-flex justify-content-between align-items-center w-100 gap-5">
            <a routerLink="/admin-panel/historial-usuarios" id="admin-panel-1" class="text-white text-center text-decoration-none h3 rounded-5 d-flex justify-content-center align-items-center">Historial</a>
            <a routerLink="/admin-panel/soporte-tecnico" id="admin-panel-2"class="text-white text-center text-decoration-none h3 rounded-5 d-flex justify-content-center align-items-center">Soporte técnico</a>
        </div>
        <a routerLink="/admin-panel/gestion-usuarios" id="admin-panel-3" class="w-100 text-white text-center text-decoration-none h3 rounded-4 d-flex justify-content-center align-items-center">Gestión de usuarios</a>
    </div>
</section>
