.register-container{
    background-image: url('../../assets/fondo5.png');
    background-size: cover;
}

#date-button{
    background-color: white;
}

#date-button:hover{
    background-color: gray;
}