<div class="register-container d-flex justify-content-center align-items-center vh-100 bg-dark">
    <div class="register-card d-flex justify-content-center align-items-center flex-column h-50 w-25 p-3 rounded-3 shadow-lg bg-secondary">
      <h2 class="text-center text-white mb-5 ">Registrate</h2>
      <form class="d-flex flex-column justify-content-around align-items-center w-75">
        <!-- Campos de registro como nombre de usuario, email, contraseña, etc. -->
        <div class="mb-2 w-100">
          <label for="username" class="text-white mb-1 w-100">Nombre de Usuario:</label>
          <input type="text" id="username" class="form-control w-100 mb-3" placeholder="Elige un nombre de usuario" required>
        </div>
        <div class="mb-2 w-100">
          <label for="email" class="text-white mb-1">Email:</label>
          <input type="email" id="email" class="form-control w-100 mb-3" placeholder="Ingresa tu email" required>
        </div>
        <div class="form-group mb-2 w-100">
          <label for="password" class="text-white mb-1">Contraseña:</label>
          <input type="password" id="password" class="form-control w-100 mb-3" placeholder="Crea una contraseña" required>
        </div>
        <div class="form-group mb-2 w-100">
          <label for="password" class="text-white mb-1">Fecha de nacimiento:</label>
          <div class="input-group">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              [(ngModel)]="model"
              ngbDatepicker
              #d="ngbDatepicker"
            />
            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
        <button type="submit" class="btn btn-primary w-100">Registrarse</button>
      </form>
    </div>
  </div>
  